<%= flash[:notice] %>

<%= render 'list', user: @user %>

<%= render 'books/list', book: @book %>



<h2>Books</h2>

<!-- ユーザーの投稿一覧 -->
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>Title</p>
  <%= link_to book.title, book_path(book.id) %>
  <p>Opinion</p>
  <%= book.body %>
</div>
<% end %>