<%= flash[:notice] %>

<%= render 'users/list', user: @user %>
<%= render 'list', book: @book %>

<h2>Book detail</h2>

<div>
  <%= image_tag @books.get_image %><br>
  <%= link_to @user.name, user_path(@user.id) %>

  <%= link_to @books.title, book_path %>
  <%= @books.body %>
  <% if @books.user == current_user %>
    <%= link_to "Edit", edit_book_path(@books) %>
    <%= link_to "Destroy", book_path(@books), method: :delete %>
  <% end %>
</div>