<%= flash[:notice] %>

<%= render 'users/list', user: @user %>
<%= render 'list', book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
            <%= image_tag @books.get_image %><br>
          <% end %>
        </td>
        <td>
          <%= link_to @user.name, user_path(@user.id) %>
        </td>
        <td>
          <%= link_to @books.title, book_path %>
        </td>
        <td>
          <%= @books.body %>
        </td>

        <% if @books.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@books) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@books), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</main>

